<footer class="site-footer">
</footer>

<!--include jquery & backstretch-->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="{{ "/js/jquery.backstretch.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript">
$(function(){
     $(window).resize(function(){
         if($(this).width() >= 767){
             $.backstretch("{{ "/img/bg.jpg" | prepend: site.baseurl }}", {speed: 150});
         }
      })
      .resize();//trigger resize on page load
});
</script>